$panel_bg_Color: #20262e;
$panel_border:  1px solid #2d333b;
$right_panel_width: 225px;
$bottom_panel_height: 150px;
$map_height: 225px;
$main_color: #f9c731;
$btn_bg_color: rgba($main_color, 0.1);
$btn_bg_color_hover: rgba($main_color, 0.2);

* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", Monaco, monospace;
}

canvas {
  position: fixed;
}

.panel {
  background-color: $panel_bg_Color;
  position: fixed;
}

#right-panel {
  z-index: 15;
  width: $right_panel_width;
  height: 100%;
  right: 0;
  border-left: $panel_border;
}

#bottom-panel {
  z-index: 15;
  height: $bottom_panel_height;
  width: 100%;
  bottom: 0;
  border-top: $panel_border;
}

#commands{
  position: absolute;
  top: $map_height;
  color: $main_color;
  width: 100%;
}

#commands .commands-tabs{
  font-size: xx-small;
  width: 100%;
  border-top: 1px solid $main_color;
  border-collapse: collapse;
}

#commands .commands-tabs td {
  padding: 4px;    
  width: 50%;
}

.btn{
  background-color: $btn_bg_color;
}

.btn:hover{
  cursor: pointer;
  background-color: $btn_bg_color_hover;
}

#commands .commands-table{
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

#commands .command-btn{
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 1px solid $main_color;
  border-radius: 2px;
}

#btn-build{
  border-right: 1px solid $main_color;
}

#game-layer {
  z-index: 10;
}

#background-layer {
  z-index: 5;
  background-color: $panel_bg_Color;
}

#map-layer{
  border-bottom: $panel_border;
}